{% extends 'ykea/base.html' %}
{% block content %}
<div class="container-fluid text-center" style=" z-index: -1">
<div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
        <div class="row content ">
            <h1>{{ category.1 }}</h1>
            <hr>
            <div class="row content">
                {% if items %}
                    <form action="{% url 'shoppingcart'%}" method="post">
                    {% csrf_token %}
                    {% for item in items %}
                    <label><input type= checkbox name="checkbox{{ item.item_number }}" id="checkbox{{ item.item_number }}" value="{{ item.item_number }}"/>
                    <a href="{% url 'item' item.item_number %}">
                    {{item.name}} </a> <br>
                    {{item.description}} <br>
                        {{item.price}} €
                    </label>
                    {% endfor %}
                    <input type="submit" value="Add to Shopping cart" />
	                </form>
                {% else %}
                    <p>No items are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
