{% extends 'ykea/base.html' %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="hidden" name="next" value="{{ next|escape }}" />
    <input type="submit" value="login" />
  </form>
    <div class="row">
        <label>Don't have an account?</label><a href="{% url 'register' %}">Sign Up</a>
    </div>

{% endblock %}